body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F6F8F9;
    margin: 0%;

}
.header{
    background-color: white;
    margin-bottom: 30px;

}

img{
    height: 60px;
    vertical-align: top;
}
h1{
    display: inline-block;
}
span{
    vertical-align: auto;
}

.contenitore{
    margin: 2px 120px;
    padding: 10px 60px;
    background-color: white;
    border-radius: 10px;

}


section{
    margin-bottom: 1px;
    
}

.task{
    width: 70px;
    height: 20px;
    background-color: #45ABEA;
    color: white;
    border-radius: 10%;
    padding: 0;
    border: 0;

}
.section{
color: #C5CBD0;
background-color: white;
border-style: ridge;
border-radius: 10% ;
}

/* 
    color: #C5CBD0;
    border-color: #C5CBD0;
    width: 70px;
    height: 20px;
  
    border-radius: 10%;
    padding: 0;
    border: 0; */
    .progetti{
margin-bottom: 25px;
    }
    

.editorial{
        font-size: 10px;
        width: 10px;
        height: 10px;
        background-color: #45ABEA;
        border-radius: 10px;
        padding: 5px;
       
    }
.goals{
        font-size: 10px;
        width: 10px;
        height: 10px;
        background-color: #9C72E4;
        border-radius: 10px;
        padding: 5px;
       
}
.recruiting{
        font-size: 10px;
        width: 10px;
        height: 10px;
        background-color: #64C0A9;
        border-radius: 10px;
        padding: 5px;
       
}

.mobile{
    font-size: 10px;
    width: 10px;
    height: 10px;
    background-color: #F29E33;
    border-radius: 10px;
    padding: 5px;
   
}
.website{
    font-size: 10px;
    width: 10px;
    height: 10px;
    background-color: #D863A1;
    border-radius: 10px;
    padding: 5px;
   
}
.sales{
    font-size: 10px;
    width: 10px;
    height: 10px;
    background-color: #B0C926;
    border-radius: 10px;
    padding: 5px;
   
}

